:root {
  --theme-primary: #4679cc;
  --theme-secondary: #6c757d;
  --theme-success: #1dc9b7;
  --theme-info: #2196F3;
  --theme-warning: #ffc241;
  --theme-danger: #fd3995;
  --theme-light: #fff;
  --theme-dark: #494949;
  --theme-rgb-primary: 70, 121, 204;
  --theme-rgb-success: 29, 201, 183;
  --theme-rgb-info: 33, 150, 243;
  --theme-rgb-warning: 255, 194, 65;
  --theme-rgb-danger: 253, 57, 149;
  --theme-rgb-fusion: 73.25, 73.25, 73.25;
  --theme-primary-50: #aac1e8;
  --theme-primary-100: #96b3e2;
  --theme-primary-200: #82a4dd;
  --theme-primary-300: #6e96d7;
  --theme-primary-400: #5a87d2;
  --theme-primary-500: #4679cc;
  --theme-primary-600: #366bc3;
  --theme-primary-700: #3060af;
  --theme-primary-800: #2b559b;
  --theme-primary-900: #254a87;
  --theme-success-50: #7aece0;
  --theme-success-100: #63e9db;
  --theme-success-200: #4de5d5;
  --theme-success-300: #37e2d0;
  --theme-success-400: #21dfcb;
  --theme-success-500: #1dc9b7;
  --theme-success-600: #1ab3a3;
  --theme-success-700: #179c8e;
  --theme-success-800: #13867a;
  --theme-success-900: #107066;
  --theme-info-50: #9acffa;
  --theme-info-100: #82c4f8;
  --theme-info-200: #6ab8f7;
  --theme-info-300: #51adf6;
  --theme-info-400: #39a1f4;
  --theme-info-500: #2196F3;
  --theme-info-600: #0d8aee;
  --theme-info-700: #0c7cd5;
  --theme-info-800: #0a6ebd;
  --theme-info-900: #0960a5;
  --theme-warning-50: #ffebc1;
  --theme-warning-100: #ffe3a7;
  --theme-warning-200: #ffdb8e;
  --theme-warning-300: #ffd274;
  --theme-warning-400: #ffca5b;
  --theme-warning-500: #ffc241;
  --theme-warning-600: #ffba28;
  --theme-warning-700: #ffb20e;
  --theme-warning-800: #f4a500;
  --theme-warning-900: #da9400;
  --theme-danger-50: #feb7d9;
  --theme-danger-100: #fe9ecb;
  --theme-danger-200: #fe85be;
  --theme-danger-300: #fe6bb0;
  --theme-danger-400: #fd52a3;
  --theme-danger-500: #fd3995;
  --theme-danger-600: #fd2087;
  --theme-danger-700: #fc077a;
  --theme-danger-800: #e7026e;
  --theme-danger-900: #ce0262;
  --theme-fusion-50: #898989;
  --theme-fusion-100: #7c7c7c;
  --theme-fusion-200: #707070;
  --theme-fusion-300: #636363;
  --theme-fusion-400: #565656;
  --theme-fusion-500: #494949;
  --theme-fusion-600: #3d3d3d;
  --theme-fusion-700: #303030;
  --theme-fusion-800: #232323;
  --theme-fusion-900: #161616;
}